nav {
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    margin: 0.4rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    overflow: hidden;
    background-image: url(./svgs/burger.svg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 99999;

    a {
        display: none;
        padding: 0.6rem 0;
        cursor: pointer;
        font-size: 2.2rem;
        text-decoration: none;
    }

    &:hover {
        transition: width 0.5s, height 2s;
        width: 12rem;
        height: fit-content;
        border-radius: 2rem;

        a {
            display: block;
        }
    }
}